<form
  (ngSubmit)="onUploadSubmit()"
  class="form-inline mr-auto border rounded"
  ENCTYPE="multipart/form-data"
>
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text border-0 rounded-0" id="basic-addon1">
        choose file</span
      >
    </div>
    <div class="custom-file">
      <input
        class="form-control-file mr-sm-2 p-1"
        type="file"
        placeholder="Search"
        aria-label="Search"
        id="uploadInput"
        name="uploadInput"
        multiple
        (change)="onUploadFormChange($event)"
        accept="image/*"
      />
    </div>
    <div class="input-group-append">
      <button class="input-group-text border-0 rounded-0" type="submit">
        Upload
      </button>
    </div>
  </div>
</form>
